
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    
    <div class="container body-content" style="padding-top:10px;">
        <h3>Text to Send</h3>

<textarea class="form-control" type="text" rows="5" id="push-data" style="    width: 500px;
    min-width: 500px;"></textarea>

        <div style="margin-top:10px">
            <button onclick="push()">
                Send Push Message
            </button>
        </div>
    </div>

     
</body>
</html> 
<script>
    function push() {
        $.ajax({
            url: "/Home/push",
            type: 'POST',
            dataType: "json",
            data: {
                message: $('#push-data').val()
            }
        });
    }
</script>