@{
    ViewBag.Title = "Home Page";
}
<button disabled class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="background-color: #24ca6e;
    color: white;
    border: none;
    height: 35px;margin-bottom:20px;">
    Enable Push Messaging
</button>
<section class="subscription-details js-subscription-details is-invisible">
    <p>
       
    </p>
    
    <pre style="display:none"><code class="js-subscription-json" ></code></pre>
</section>